<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reactive.memo.mapper.QuestionMapper">

    <resultMap id="userResultMap" type="reactive.memo.dto.QuestionDto">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="createdBy" column="created_by"/>
    </resultMap>

    <insert id="saveQuestion">
        INSERT INTO question (content, category_id, created_by) VALUES(#{content}, #{categoryId}, #{createdBy})
    </insert>


</mapper>